@model IEnumerable<ex2_server.Models.Ratings>
@{
    ViewData["Title"] = "Index";
    double average = 0, sum = 0;
    int i = 0;
    foreach(var x in Model)
    {
        i++;
        sum += x.rate;
    }
    if (i != 0)
    {
        average = sum / i;
    }
    
}
<p><a href="http://localhost:3000/">Return To Login Page</a>.</p>

<h1>Average Rating: @string.Format("{0:0.0.0}", average)</h1>

<p>
    <a asp-action="Create">Add New Rate</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.feedback)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.feedback)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
